{% load static %}
{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  <div class="d-grid gap-2 mb-2">
    {% for provider in socialaccount_providers %}
      {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
          {% provider_login_url provider openid=brand.openid_url process=process as href %}
          {% element provider name=brand.name provider_id=provider.id href=href %}
          {% endelement %}
        {% endfor %}
      {% endif %}
      {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
      <a href="{{ href }}" class="btn btn-light border">
        <img src="{% static 'app/Google.svg' %}" alt="Google logo" class="w-5 h-5 me-2" height="24"> Sign in with {{ provider.name }}
      </a>
    {% endfor %}
  </div>
{% endif %}
